<!DOCTYPE html>
<html>
  <head>
    <title> Lili 的主页  </title>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/graph.css">
  </head>
  <body>
    <div class="container">
      <% if(error && error.length > 0) { %>
      <div class="alert alert-danger"><p><%=error %></p></div>
      <% } %>
      
      <% if(success && success.length > 0) { %>
      <div class="alert alert-success"><p><%= success %></p></div>
      <% } %>
    </div>
