<% include partials/header.ejs %>

<div class="container">
  <h1 class="top-h1"> 更新基本信息 </h1>
  <div class="form-group">
    <form action="/info_update?_method=PUT" method="POST">
      <div class="card">
  	<h4 class="card-header simhei">  联系方式 </h4>
  	<div class="card-body">
	  <label for="wechat">微信号</label>
 	  <input type="text" class="form-control" id="wechat" name="info[wechat]" value="<%= info.wechat %>">
 	  <br>
 	  <label for="phone">电话号码</label>
 	  <input type="text" class="form-control" id="phone" name="info[phone]" value="<%= info.phone %>">
	</div>
      </div>
      <br>
      <div class="card">
	<h4 class="card-header simhei"> 公告 </h4>
  	<div class="card-body">
  	  <label for="notice">公告</label>
	  <textarea class="form-control" rows="3" id="notice" name="info[notice]"><%= info.notice %></textarea>
	  <span class="radio">
	    <label><input type="radio" name="info[show_notice]" value="y" <% if (info.show_notice) { %> checked <% } %> > 显示公告</label>
	  </span>
	  &nbsp; &nbsp
	  <span class="radio">
	    <label><input type="radio" name="info[show_notice]" value="" <% if (!info.show_notice) { %> checked <% } %> >不显示公告</label>		
	  </span>
	</div>
      </div>
      <div class="bottom-buttons">
	<div style="display:inline">
	  <input type="submit" class="btn btn-success btn-xlg" value="修改信息">
	</div>
	<span class="hspace"></span>
	<a href="admin" class="btn btn-info btn-xlg"> 返回管理页面 </a>
	<span class="hspace"></span>
	<a href="/logout" class="btn btn-info btn-xlg"> 退出登录 </a>
	<div>
    </form>
    </div>
    </div>

    <% include partials/footer.ejs %> 
